<body>

<div class=" fondo d-flex justify-content-center align-items-center"></div>


<div class="container-fluid">
  <div class="row">
    <div class="montañas jinx col-12"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class=" montañas  jinx col-12"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class=" montañas  col-12">
        <img class="Intro-img  Logo-De-LOL col-2"
         src="https://www.leagueoflegends.com/static/logo-1200-589b3ef693ce8a750fa4b4704f1e61f2.png"  alt="Logo de LOL">

            <h3 class="Intro-h3  ">Jinx</h3>
            <p class="Intro-p col-11">Al observar a Jinx, la mayoría solo ve a
              una mujer demente con un amplio surtido de armas peligrosas;
              no obstante, pocos la recuerdan como la chica relativamente
              inocente de Zaun, una inventora con grandes ideas que nunca
              encajó del todo. Nadie sabe con certeza qué sucedió para que
              esa dulce niñita se transformara en una mujer desenfrenada e
              impredecible, infame por sus actos de destrucción sin sentido.
               Pero una vez que Jinx explotó en la escena de Piltóver, su
               talento único para sembrar la anarquía la convirtió en leyenda.
              </p>
              <img class="Intro-img  Jinx col-12"  src="https://www.leagueoflegends.com/static/marksman-b339ed8fd7e04ff2c3fca022c5d299fb.png"  alt="Jinx">
    </div>
  </div>
</div>



</body>
